#myTab {
  display: flex;
  justify-content: center; /* Center the row horizontally */
  align-items: center;     /* Center the row vertically */
  margin-top: 10px;
}


#profile2{
  display: grid;
  justify-content: center; /* Center the row horizontally */
  align-items: center;     /* Center the row vertically */
  margin-top: 10px;
}

div.col{
  margin: 10px;
}

img.card-img-top{
  margin: 10px;
}

h5.card-title{
  margin:10px;
}

.text-red{
  color: red;
}